@{
    ViewData["Title"] = "Home Page";
}




<script type="text/javascript">

    $(document).ready(function () {

        GetListadoInventario();

        CargarComboBox("4", "/Home/CargarItemsComboBox", "#id_select_test");

    });
      

    function DefaultValues() {

        ////fecha desde------------------------------------------------------------------------
        //var dateDesde = new Date(new Date().setDate(new Date().getDate() - 30));
        //$('#id_date_fecha_desde').val(dateDesde.toISOString().substring(0, 10));


        ////fecha hasta------------------------------------------------------------------------
        //var date = new Date();
        //var currentDate = date.toISOString().substring(0, 10);
        //$('#id_date_fecha_hasta').val(currentDate);


    }

      function AxiosPostRequest(path, model, success) {
            axios.post(path, model)
                .then((response) => {
                    success(response);
                }, (error) => {
                    console.log(error);
                    LoadingHide();
                    console.log(error);
                    alert("Ocurrió un error, por favor intente de nuevo.");
                });
        }

    function GetListadoInventario() {

        LoadingShow();

        var sucessResponse = function (data) {
            
            var idListado = $('#IdListado').DataTable().clear().draw();

            for (var i = 0; i < data.length; i++) {

                let model = data[i];

                let html_row = `
                        <tr>
                            <td>${model.id}</td>
                            <td>${model.nombre}</td>
                            <td>${model.apellido}</td>
                            <td>${model.edad}</td>
                            <td><a href=''>Eitar</a></td>
                        </tr>
                    `;

                idListado.row.add($(html_row)).draw();

            }

            $('#IdListado').DataTable({
                "order": [[0, "desc"]],
                destroy: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                responsive: true
            }).column([]).visible(false);

            LoadingHide();
        };

        var errorResponse = function (data) {
            
        };

        var model = { Id: '1', Nombre: 'Wallter Hola Mundo' };

        ajaxMethod("/Home/GetListadoTest", model, sucessResponse, errorResponse);

    }


    function LoadingShow() {
        //https://www.jqueryscript.net/loading/Fullscreen-Loading-Modal-Indicator-Plugin-For-jQuery-loadingModal.html
        $('body').loadingModal({
            position: 'auto',
            text: '',
            color: '#fff',
            opacity: '0.7',
            backgroundColor: '#A0D1E6',
            animation: 'wave'
        });

    }

    function LoadingHide() {
        $('body').loadingModal('hide');
        $('body').loadingModal('destroy');
    }


    function ajaxMethod(path, model, successResponse, errorResponse) {

        jQuery.ajax({
            type: "POST",
            cache: false,
            url: path,
            data: model,
            dataType: "json",
            success: function (data) {
                successResponse(data);
            },
            error: function (data) {
                errorResponse(data);
            }
        });


    }

          function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

      function CargarComboBox(valueDefault, path, IdSelector) {
       
            LoadingShow();

            var success = function (response) {

                //apellido: "Cubero"
                //edad: 32
                //id: 1
                //nombre: "Walter"

                for (var i = 0; i < response.data.length; i++) {
                    var model = response.data[i];
                    $(IdSelector).append(`<option value='${model.id}'>${model.id}</option>`)
                }

                $(IdSelector).select2();

                $(IdSelector).val(valueDefault).trigger('change');

                LoadingHide();
            };

             var errorResponse = function (response) {};

            var model = { Token: "", IdReservaCita: parseInt(getParameterByName("Id")) };

            AxiosPostRequest(path, model, success);
        }



</script>

@*GetListadoTest*@

<div class=row>

    <div class=col-lg-12>

        <div class="page-header">
        <h1>Ejemplo para cargar un Grid</h1>
        <h2>Componente utilizado: <span class="label label-info">https://datatables.net</span></h2>
      </div>

<table id="IdListado" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Editar</th>

        </tr>
    </thead>
    <tbody>
        
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>


    </div>

</div>



<br />
<br />


<div class="row">

    <div class="col-lg-12">

           <div class="page-header">
        <h1>Ejemplo para cargar un Combobox</h1>
        <h2>Componente utilizado: <span class="label label-info">https://select2.org/ </span></h2>
      </div>

          <span class="TitulosForm">Tratamiento:</span><br />
            <select id="id_select_test" class="form-control form-control-sm" name="tratamiento">
            </select>


    </div>

</div>



<br />
<br />

<br />
<br />